In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

,Count,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,Died,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,Survived,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,1,5,Died,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
pers38 = titanic[(titanic['Age']==38.0)]
pers38.shape

(11, 13)

In [6]:
s_h= titanic[(titanic['Survived']=='Died')&(titanic['Sex']=='male')]
s_h.shape

(468, 13)

In [7]:
murieron_m = titanic[(titanic['Survived']=='Died')& (titanic['Sex']=='female')]
murieron_m.shape

(81, 13)

In [9]:
sobrevivieron = titanic[(titanic['Survived']=='Survived')]
sobrevivieron.shape

(342, 13)

In [10]:
j = titanic[(titanic['Survived']=='Died')& (titanic['Sex']=='female')& (titanic['Age']==38.0)]
j.shape

(1, 13)

In [11]:
pers = titanic[(titanic['Survived']=='Survived')& (titanic['Age']==38.0)]
pers.shape

(5, 13)

In [12]:
sob_h= titanic[(titanic['Survived']=='Survived')&(titanic['Sex']=='male')]
sob_h.shape

(109, 13)

In [13]:
j = titanic[(titanic['Survived']=='Survived')& (titanic['Sex']=='female')& (titanic['Age']==38.0)]
j.shape

(4, 13)

In [14]:
sob_m= titanic[(titanic['Survived']=='Survived')&(titanic['Sex']=='female')]
sob_m.shape

(233, 13)

In [18]:
titanic.isnull().sum().sum()

866